
<div class="container">
    <div class="row">
      <table class="table">
        <thead>
          <th>Id</th>
          <th>Quantity</th>
          <th>Order id</th>
          <th>Book id</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of obj;let i=index">
            <td>{{item.orderdetails_id}}</td>
            <td>{{item.orderdetails_quantity}}</td>
            <td>{{item.fk_order_id}}</td>
            <td>{{item.fk_book_id}}</td>
            <td>
              <button (click)="onDeleteClick(item,i)" type="button" class="btn btn-primary" aria-label="Left Align">Delete</button>
                <button (click)="onEditClick(item,i)" type="button" class="btn btn-primary" aria-label="Left Align">Edit
              </button> |
            </td>
          </tr>
        </tbody>
      </table>
    </div>




  </div>



