<div class="grid-container">

  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile  [colspan]="'2'" [rowspan]="'1'">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Recent Orders
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Design for recent orders here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="'1'" [rowspan]="'1'">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Recent Users
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Design for recent Users here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="'1'" [rowspan]="'2'">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Sells
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Design for recent Sells here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="'1'" [rowspan]="'1'">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Recent Orders
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Design for recent orders here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
