<p>order works!</p>


<hr>
<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <th>Id</th>
        <th>Date</th>
        <th>Status</th>
        <th>Payment Type</th>
        <th>Total Amount</th>
        <th>fk Category ID</th>
        <th>Customer Name</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of obj;let i=index">
          <td>{{item.order_id}}</td>
          <td>{{item.order_date}}</td>
          <td>{{item.order_status}}</td>
          <td>{{item.order_paymenttype}}</td>
          <td>{{item.order_totalamount}}</td>
          <td>{{item.fk_customer_id}}</td>
          <td>{{item.customer_name}}</td>
          <td>
            <button (click)="onDeleteClick(item,i)" type="button" class="btn btn-primary" aria-label="Left Align">Delete
            </button> |
            <a (click)="onEditClick(item)" type="button" class="btn btn-primary" aria-label="Left Align">Edit
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>





