
<div style="text-align:center;">
  <h3>Add Book for Sale</h3>
</div>
<br>
<div class="container">
  <div>
    <form [formGroup]="bfsform" (ngSubmit)="onsignupClick()">
      <!-- book isbn -->
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Book ISBN</mat-label>
          <input matInput #isbn  placeholder="Enter Book ISBN"  formControlName="book_isbn">
          <mat-hint align="end">{{isbn.value.length}} / 15</mat-hint>
          <mat-error class="alert alert-danger" *ngIf="bfsform.get('book_isbn').hasError('required') && !bfsform.get('book_isbn').pristine" >Book ISBN is required</mat-error>
          <mat-error class="alert alert-danger" *ngIf="bfsform.get('book_isbn').hasError('pattern') && !bfsform.get('book_isbn').pristine" >ISBN Number contains only digits.</mat-error>
        </mat-form-field>
      </div>
      <br>
        <!-- book_title -->
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Book Title</mat-label>
            <input matInput  placeholder="Enter Book Title"  formControlName="book_title">
            <mat-error class="alert alert-danger" *ngIf="bfsform.get('book_title').hasError('required') && !bfsform.get('book_title').pristine" >Book Title is required</mat-error>
          </mat-form-field>
        </div>
        <br>
         <!-- book author -->
         <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Book Author</mat-label>
            <input matInput  placeholder="Enter Book Author"  formControlName="book_author">
            <mat-error class="alert alert-danger" *ngIf="bfsform.get('book_author').hasError('required') && !bfsform.get('book_author').pristine" >Book Author is required</mat-error>
          </mat-form-field>
        </div>
        <br>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Book Description</mat-label>
            <textarea matInput #desc placeholder="Enter Book Description" formControlName="book_description"></textarea>
            <!-- <button class="example-button-row" matSuffix mat-icon-button type="button" (click)="onClearAuthorClick()">
              <mat-icon>clear</mat-icon>
            </button> -->
            <mat-hint align="end">{{desc.value.length}} / 400</mat-hint>
            <mat-error  *ngIf="bfsform.get('book_description').hasError('required') && bfsform.get('book_description').dirty">Book Author is required</mat-error>
            <mat-error  *ngIf="bfsform.get('book_description').hasError('maxlength') && bfsform.get('book_description').dirty">Max 400 characters</mat-error>
          </mat-form-field>
        </div>
        <br>
        <div class="form-group">
          <mat-label>Select Status of Book for Sale</mat-label>
          <br>
          <mat-radio-group formControlName="book_status" class="example-full-width">
            <mat-radio-button value="Available">Available</mat-radio-button>
            <br>
            <mat-radio-button value="Unavailable">Unavailable</mat-radio-button>
            <mat-error  *ngIf="bfsform.get('book_status').hasError('required') && bfsform.get('book_status').dirty">Book Status is required</mat-error>
          </mat-radio-group>
        </div>
        <br>
         <!-- book_price -->
         <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Book Price</mat-label>
            <input matInput  placeholder="Enter Book Price"  formControlName="book_price">
            <mat-error class="alert alert-danger" *ngIf="bfsform.get('book_price').hasError('required') && !bfsform.get('book_price').pristine" >Book Price is required</mat-error>
            <mat-error class="alert alert-danger" *ngIf="bfsform.get('book_price').hasError('pattern') && !bfsform.get('book_price').pristine" >Price contains only digits.</mat-error>
          </mat-form-field>
        </div>
        <br>
        <!-- book_publisher -->
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Book Publisher</mat-label>
            <input matInput  placeholder="Enter Book Publisher"  formControlName="book_publisher">
            <mat-error class="alert alert-danger" *ngIf="bfsform.get('book_publisher').hasError('required') && !bfsform.get('book_publisher').pristine" >Book Price is required</mat-error>
          </mat-form-field>
        </div>
        <br>
         <!-- book_ratings -->
         <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Book Ratings</mat-label>
            <input matInput #ratings placeholder="Enter Book Ratings"  formControlName="book_ratings">
            <mat-hint align="end">{{ratings.value.length}} / 1</mat-hint>
            <mat-error class="alert alert-danger" *ngIf="bfsform.get('book_ratings').hasError('required') && !bfsform.get('book_ratings').pristine" >Book Ratings is required</mat-error>
            <mat-error class="alert alert-danger" *ngIf="bfsform.get('book_ratings').hasError('pattern') && !bfsform.get('book_ratings').pristine" >Ratings contains only digits.</mat-error>
          </mat-form-field>
        </div>
        <br>
         <!-- book_image -->
         <div class="form-group">
          <label *ngIf="!imageFlag">Format not supported..</label>
           <input type="file" (change)="onFileAdd($event)">
        </div>
        <br>
         <!-- category_name -->
         <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-label>Category Name </mat-label>
            <mat-select formControlName="fk_category_id" >
              <mat-option *ngFor="let item of cat" [value]="item.category_id">
                {{item.category_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br>
        <div class="form-group">
          <button type="submit"  mat-raised-button color="primary">Save</button>
       |
          <button type="button" mat-raised-button color="primary" (click)="onCancleClick()">cancel</button><br>
        </div>
        <div class="form-group">
        </div>
    </form>
  </div>
</div>

