


<h3>Book for Sale</h3>
<hr>
<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <th>Book Id</th>
        <th>Book ISBN</th>
        <th>Book title</th>
        <th>Book Author</th>
        <th>Book Price</th>
        <th>Book Publisher</th>
        <th>Book Ratings</th>
        <th>Book Image</th>
        <th>fk Category ID</th>
        <th>Customer Name</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of obj;let i=index">
          <td>{{item.book_id}}</td>
          <td>{{item.book_isbn}}</td>
          <td>{{item.book_title}}</td>
          <td>{{item.book_author}}</td>
          <td>{{item.book_price}}</td>
          <td>{{item.book_publisher}}</td>
          <td>{{item.book_ratings}}</td>
          <td>{{item.book_image}}</td>
          <td>{{item.fk_customer_id}}</td>
          <td>{{item.customer_name}}</td>
          <td>
            <button (click)="onDeleteClick(item,i)" type="button" class="btn btn-primary" aria-label="Left Align">Delete
            </button> |
            <a (click)="onEditClick(item)" type="button" class="btn btn-primary" aria-label="Left Align">Edit
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>





