

<!-- <div class="container">

  <form  [formGroup]="employeedeliveryadd" (ngSubmit)="onEditClick()">
  <h2>Edit Employee delivery</h2>

   <input class="form-control" type="text" formControlName="delivery_id" placeholder="Enter delivery Id"><br><br>
   <input class="form-control" type="text" formControlName="delivery_status" placeholder="Enter delivery status"><br><br>
   <button type="submit" class="btn btn-primary">Save</button><br>
  <button  class="btn btn-info">cancel</button><br>

  </form>
</div> -->



<div class="container">

  <form  [formGroup]="employeedeliveryadd" (ngSubmit)="onEditClick()">
  <h2>Edit employee delivery</h2>

  <div class="form-group">
    <mat-form-field>
      <mat-label>Change Delivery Status</mat-label>
      <mat-select formControlName="delivery_status" name="Delivery Status">
        <mat-option *ngFor="let item of delstatus" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div class="form-group">
    <mat-form-field>
      <mat-label>Change Employee Name</mat-label>
      <mat-select formControlName="fk_employee_id" name="Employee name">
        <mat-option *ngFor="let item of emp" [value]="item.employee_id">
          {{item.employee_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


      <div class="form-group">
        <mat-form-field>
          <mat-label>Change Order id</mat-label>
          <mat-select formControlName="fk_order_id" name="Order id">
            <mat-option *ngFor="let item of ord" [value]="item.order_id">
              {{item.order_id}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button  mat-raised-button type="submit" color="primary">Save</button>
      <button mat-raised-button color="warn" (click)="onCancelClick()">Cancel</button>

  </form>
</div>

