<div style="text-align:center;">
  <h3>Add Customer</h3>
</div>
<br>
<div class="container">
  <div>
    <form [formGroup]="addcustomerform" (ngSubmit)="onsignupClick()">
       <!-- Customer Name -->
       <div class="form-group" >
        <mat-form-field>
          <mat-label>Add Customer Name</mat-label>
          <input matInput  placeholder="Add Customer Name"  formControlName="customer_name">
          <mat-error class="alert alert-danger" *ngIf="addcustomerform.get('customer_name').hasError('required') && !addcustomerform.get('customer_name').pristine">Customer Name is required.</mat-error>
         </mat-form-field>
      </div>
      <!-- Customer Emailid -->
      <div class="form-group" >
        <mat-form-field>
          <mat-label>Add Customer Emai ID</mat-label>
          <input matInput  placeholder="Enter Customer Email ID"  formControlName="customer_emailid">
          <mat-error class="alert alert-danger" *ngIf="addcustomerform.get('customer_emailid').hasError('required') && !addcustomerform.get('customer_emailid').pristine">Customer Email ID is required.</mat-error>
          <mat-error class="alert alert-danger" *ngIf="addcustomerform.get('customer_emailid').hasError('email') && !addcustomerform.get('customer_emailid').pristine">Enter correct format of email.</mat-error>
         </mat-form-field>
      </div>
      <!-- Customer Gender -->
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Select Customer Gender</mat-label>
          <mat-select formControlName="customer_gender" name="customer gender">
            <mat-option *ngFor="let item of customergender" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
          <!-- <mat-error class="alert alert-danger" *ngIf="addcustomerform.get('customer_gender').hasError('required') && !addcustomerform.get('customer_gender').pristine" >Customer Gender is required</mat-error> -->
        </mat-form-field>
      </div>
      <!-- customer password -->
      <div class="form-group" >
        <mat-form-field>
          <mat-label>Customer Password</mat-label>
          <input matInput  placeholder="Add Customer password"  formControlName="customer_password">
         </mat-form-field>
      </div>

      <!-- Customer mobileno -->
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Customer Mobile No.</mat-label>
          <input matInput  placeholder="Enter Customer Mobile No."  formControlName="customer_mobileno">

          <mat-error class="alert alert-danger" *ngIf="addcustomerform.get('customer_mobileno').hasError('required') && !addcustomerform.get('customer_mobileno').pristine" >Mobile No. Amount is required</mat-error>
          <mat-error class="alert alert-danger" *ngIf="addcustomerform.get('customer_mobileno').hasError('pattern') && !addcustomerform.get('customer_mobileno').pristine" >Only digits.</mat-error>
        </mat-form-field>
      </div>
      <br>

      <div class="form-group">
        <button type="submit"  mat-raised-button color="primary">Save</button>
     |
        <button type="button" mat-raised-button color="primary" (click)="onCancleClick()">cancel</button><br>
      </div>
      <div class="form-group">
      </div>
    </form>
  </div>
</div>

