
<div class="container">
  <div class="row">

    <!-- <table class="table">
      <thead>
        <th>Delivery Status</th>
        <th>Employee name</th>
        <th>Order date</th>
        <th>Order payment type</th>
        <th>Total amount</th>
        <th>Customer name</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of obj;let i=index">
          <td>{{item.delivery_id}}</td>
          <td>{{item.delivery_status}}</td>
          <td>{{item.employee_name}}</td>
          <td>{{item.order_date}}</td>
          <td>{{item.order_paymenttype}}</td>
          <td>{{item.order_totalamount}}</td>
          <td>{{item.customer_name}}</td>
          <td>
            <button (click)="onDeleteClick(item,i)" type="button" class="btn btn-primary" aria-label="Left Align">Delete</button>
              <button (click)="onEditClick(item,i)" type="button" class="btn btn-primary" aria-label="Left Align">Edit
            </button> |
          </td>
        </tr>
      </tbody>
    </table>-->

    <div style="text-align:center;">
      <h3>Employee Delivery</h3>
      </div>
      <hr>
      <div class="row" style="text-align:right;">
        <button mat-fab (click)="onAddEmpdelClick()" color="primary" aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>add</mat-icon>
        </button>
      </div>


     <mat-form-field>
      <mat-label>Search...</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search.." #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="order_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Order ID </th>
          <td mat-cell *matCellDef="let row"> {{row.order_id}} </td>
        </ng-container>
        <!-- ID Column -->
        <ng-container matColumnDef="delivery_status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery Status </th>
          <td mat-cell *matCellDef="let row"> {{row.delivery_status}} </td>
        </ng-container>

        <ng-container matColumnDef="employee_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee name </th>
          <td mat-cell *matCellDef="let row"> {{row.employee_name}}</td>
        </ng-container>



        <!-- <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                View Order Details
              </mat-panel-title>
               <mat-panel-description>
                This is a summary of the content
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p><ng-container matColumnDef="order_date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Order date </th>
              <td mat-cell *matCellDef="let row"> {{row.order_date}}</td>
            </ng-container>
            </p>>

           <p> <ng-container matColumnDef="order_paymenttype">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment type</th>
              <td mat-cell *matCellDef="let row"> {{row.order_paymenttype}} </td>
            </ng-container></p>

            <p>
              <ng-container matColumnDef="order_totalamount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total amount </th>
                <td mat-cell *matCellDef="let row" > {{row.order_totalamount| currency:'INR'}} </td>
              </ng-container>
            </p>
          </mat-expansion-panel>
          </mat-accordion>-->







         <ng-container matColumnDef="order_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Order date </th>
          <td mat-cell *matCellDef="let row"> {{row.order_date}}</td>
        </ng-container>


        <ng-container matColumnDef="order_paymenttype">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment type</th>
          <td mat-cell *matCellDef="let row"> {{row.order_paymenttype}} </td>
        </ng-container>


        <ng-container matColumnDef="order_totalamount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total amount </th>
          <td mat-cell *matCellDef="let row" > {{row.order_totalamount| currency:'INR'}} </td>
        </ng-container>

        <ng-container matColumnDef="customer_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name</th>
          <td mat-cell *matCellDef="let row"> {{row.customer_name}}</td>
        </ng-container>


        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row;let i=index" >
            <button mat-icon-button color="warn" (click)="onDeleteClick(row,i)" >
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="onEditClick(row,i)" >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


         <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

       <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>


  </div>
</div>



